<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/public/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" >
    <title>Admin</title>
</head>


<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">About Page</h1>
        </div>
      </div>
    <br>
    <div class="container" style="margin: auto;">
        <a href="/" type="button" class="btn btn-outline-dark">Home</a>
        <a href="/create" type="button" class="btn btn-outline-dark">Create Order</a>
        <a href="/open" type="button" class="btn btn-outline-dark">Buy Orders</a>
        <a href="/closed" type="button" class="btn btn-outline-dark">Sell Orders</a>
        <a href="/register" type="button" class="btn btn-outline-dark">Register</a>
        <a href="/about" type="button" class="btn btn-outline-dark">About</a>
        <a href="/admin" type="button" class="btn btn-outline-dark">Admin</a>
    </div>
    <hr>
    <div class="container">
        <p>India is the world's second largest agricultural producer. As of 2009 it was the world’s largest producer of Fresh Fruit, Lemons and Limes, Buffalo Milk, Sunflower Seeds, Sorghum, Millet, Spices, Okra, Beeswax, Bananas, Mangoes, Tropical Fruit, Chip Peas, Papayas, Chillies and Peppers. It is the second largest producer of Wheat, Rice, Fresh Vegetables, Sugar Cane, Lentils, Tea, and Potatoes. In addition,agriculture is the primary source of income for more than 700 million people in India.</p>
        <p>The recent passage of three farm bills aimed at increasing competition and liberalizing regulation represents a potentially profound shift for India. BBC reports, " Farmers will be allowed to sell their produce at a market price directly to private players . . . Most Indian farmers currently sell the majority of their produce at government-controlled wholesale markets at assured floor prices".</p>
        <p>This project will implement a database that records transactions between buyers and sellers of the largest agricultural products in India. The front end will allow users to create orders to buy or sell these products. Background information on India’s agricultural economy will be displayed using data from the Food and Agriculture Organization of the United Nations</p>
        <p>Source: http://www.fao.org/faostat/en/#data</p>
    </div>
</body>


</html>