<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/public/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" >
    <title>Create</title>
</head>


<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Create Order</h1>
        </div>
      </div>
    <br>
    <div class="container" style="margin: auto;">
        <a href="/" type="button" class="btn btn-outline-dark">Home</a>
        <a href="/create" type="button" class="btn btn-outline-dark">Create Order</a>
        <a href="/open" type="button" class="btn btn-outline-dark">Open Orders</a>
        <a href="/closed" type="button" class="btn btn-outline-dark">Closed Orders</a>
        <a href="/register" type="button" class="btn btn-outline-dark">Register</a>
    </div>
    <hr>
    <div class="container" style="margin: auto;">
        <form>
            <div class="form-group">
                <label for="agriculturalProduct">Agricultural Product</label>
                <select class="form-control" id="agriculturalProduct">
                  <option>Sugar Cane</option>
                  <option>Rice, Paddy</option>
                  <option>Rice, Milled</option>
                  <option>Wheat</option>
                  <option>Buffalo Milk</option>
                  <option>Cow Milk</option>
                  <option>Potatoes</option>
                  <option>Fresh Vegetables</option>
                  <option>Bananas</option>
                  <option>Maize</option>
                  <option>Dry Onions</option>
                  <option>Mangoes/Guavas</option>
                  <option>Tomatoes</option>
                  <option>Seed Cotton</option>
                  <option>Soybeans</option>
                  <option>Eggplants</option>
                  <option>Coconuts</option>
                  <option>Millet</option>
                  <option>Chick Peas</option>
                  <option>Fresh Fruit</option>
                  <option>Tropical Fruit</option>
                  <option>Pumpkins, Squash and Gourds</option>
                  <option>Green Peas</option>
                  <option>Chillies & Peppers</option>
                  <option>Lentils</option>
                  <option>Tea</option>
                </select>
              </div>
              <div class="form-group">
                <label for="orderType">Type</label>
                <select class="form-control" id="orderType">
                  <option>Buyer</option>
                  <option>Seller</option>
                </select>
              </div>
            <div class="form-group">
                <label for="orderAmount">Amount</label>
                <input type="number" class="form-control" id="orderAmount" placeholder="0">
              </div>
              <div class="form-group">
                <label for="orderPrice">Price</label>
                <input type="number" class="form-control" id="orderPrice" placeholder="0">
              </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
</body>


</html>