<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/public/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" >
    <title>Home</title>
</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">India Agricultural Marketplace</h1>
          <p class="lead">To create a buy or sell order, select 'Create Order'</p>
          <p class="lead">To view open orders select 'Open Orders'</p>
          <p class="lead">To view closed orders, select 'Closed Orders'</p>
          <p class="lead">To register as a buyer or seller, select 'Register'</p>
        </div>
      </div>
    <br>
    <div class="container" style="margin: auto;">
        <a href="/" type="button" class="btn btn-outline-dark">Home</a>
        <a href="/create" type="button" class="btn btn-outline-dark">Create Order</a>
        <a href="/open" type="button" class="btn btn-outline-dark">Open Orders</a>
        <a href="/closed" type="button" class="btn btn-outline-dark">Closed Orders</a>
        <a href="/register" type="button" class="btn btn-outline-dark">Register</a>
    </div>
    <hr>
    <br>
    <table class="table" style="width:80%; margin-left: auto; margin-right: auto;">
        <thead class="thead-dark">
        <tr>
           <th scope="row">#</th>
           <th scope="row">Product</th>
           <th scope="row">Tonnes Produced*</th>
           <th scope="row">World Ranking*</th>
        </tr>
        </thead>
        <% for (var i = 0; i < agTable.length;  i++) { %>
         <tr>
           <th scope="row"><%= i+1 %></td>
            <td><%= agTable[i].name %></td>
           <td><%= agTable[i].tonnes %></td>
           <td><%= agTable[i].rank %></td>
         </tr>    
        <% } %>
     </table>

     <div class="container" style="margin: auto;">
        <p> *India 2018. Source: http://www.fao.org/faostat/en/#data</p>
     </div>
</body>




</html>