<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/public/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" >
    <title>Index</title>
</head>


<body>
    <div class="container" style="margin: auto;">
        <h1>Index</h1>
        <div>
            <a href="/closed">Closed</a>
            <p>Closed displays all orders with a status of closed. This is essentially the 'orders' table information.</p>
        </div>
        <div>
            <a href="/create">Create</a>
            <p>Create is a form which allows the user to create a new order linking orders to agricultural products in a 1:M relationship and facilitating a M:M link between buyers, sellers, and orders</p>
        </div>
        <div>
            <a href="/">Home</a>
            <p>Home displays the information from the 'Agricultural Products' database. Primarily this is background information for the user. The page also links to all other pages</p>
        </div>
        <div>
            <a href="/open">Open</a>
            <p>Open displays all orders with a status of open. This is essentially the 'orders' table information.</p>
        </div>
        <div>
            <a href="/register">Register</a>
            <p>Register allows a buyer or seller to register with the service</p>
        </div>
    </div>
</body>


</html>
