<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/public/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" >
    <title>Register</title>
</head>


<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Buyer/Seller Registration</h1>
        </div>
      </div>
    <br>
    <div class="container" style="margin: auto;">
      <a href="/" type="button" class="btn btn-outline-dark">Home</a>
      <a href="/create" type="button" class="btn btn-outline-dark">Create Order</a>
      <a href="/open" type="button" class="btn btn-outline-dark">Buy Orders</a>
      <a href="/closed" type="button" class="btn btn-outline-dark">Sell Orders</a>
      <a href="/register" type="button" class="btn btn-outline-dark">Register</a>
      <a href="/about" type="button" class="btn btn-outline-dark">About</a>
      <a href="/admin" type="button" class="btn btn-outline-dark">Admin</a>
    </div>
    <hr>
    <div class="container" style="margin: auto;">
    <form action='/' method= "post">
        <div class="form-group">
	  	<label for="inputEmail"> Email address:</label>
          <input type="email" class="form-control" name ="inputEmail" id="inputEmail" placeholder="Enter email">
        </div>
        <div class="form-group">
		<label for="inputName">Name:</label>
            <input type="text" class="form-control" name="inputName" id="inputName" placeholder="Enter name">
        </div>
        <div class="form-group">
            <label for="registerType">Type</label>
            <select class="form-control" name ="registerType" id="registerType">
              <option>Buyer</option>
              <option>Seller</option>
            </select>
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
</body>


</html>
